[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/ImageOptim/temporary-patch-Sparkle.git
[submodule "gifsicle/gifsicle"]
	path = gifsicle/orig
	url = https://github.com/kohler/gifsicle.git
[submodule "pngquant/src"]
	path = pngquant/src
	url = https://github.com/pornel/pngquant.git
[submodule "jpegoptim/src"]
	path = jpegoptim/src
	url = https://github.com/tjko/jpegoptim.git
[submodule "oxipng/oxipng"]
	path = oxipng/oxipng
	url = https://github.com/shssoichiro/oxipng
[submodule "libjpeg/src"]
	path = libjpeg/src
	url = https://github.com/libjxl/libjxl.git
[submodule "libwebp/src"]
	path = libwebp/src
	url = https://github.com/webmproject/libwebp.git
[submodule "libavif/src"]
	path = libavif/src
	url = https://github.com/AOMediaCodec/libavif.git
