[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "gifsicle"]
	path = gifsicle
	url = https://github.com/pornel/giflossy.git
[submodule "zopfli-png/zopfli"]
	path = zopfli-png/zopfli
	url = https://github.com/pornel/zopfli.git
