*.mode1v3
*.pbxuser
*.xcscheme
*.xcuserdatad
*.xcworkspace
*.zip
.DS_Store
.svn
pngquant/src
advpng/*.c
advpng/*.cc
advpng/*.in
advpng/7z
advpng/aclocal.m4
advpng/AUTHORS
advpng/autogen.sh
advpng/build
advpng/compress.h
advpng/config.guess
advpng/config.sub
advpng/configure*
advpng/COPYING
advpng/data.h
advpng/DerivedData
advpng/doc
advpng/except.h
advpng/file.h
advpng/HISTORY
advpng/INSTALL
advpng/install-sh
advpng/lib
advpng/Makefile.am
advpng/missing
advpng/mngex.h
advpng/noautomake.sh
advpng/pngex.h
advpng/portable.h
advpng/README
advpng/scroll.h
advpng/siglock.h
advpng/test
advpng/zip.h
gifsicle/*.1
gifsicle/*.gif
gifsicle/*.in
gifsicle/*.m4
gifsicle/build
gifsicle/configure*
gifsicle/COPYING
gifsicle/depcomp
DerivedData
gifsicle/gifsicle.spec
gifsicle/include
gifsicle/INSTALL
gifsicle/install-sh
gifsicle/Makefile.am
gifsicle/missing
gifsicle/NEWS
gifsicle/README
gifsicle/src
imageoptim/*.pch
imageoptim/*~.*
imageoptim/build
imageoptim/DerivedData
imageoptim/optipng
imageoptim/pngout
imageoptim/Sparkle.framework
jpegoptim/*.1
jpegoptim/*.c
jpegoptim/*.h
jpegoptim/*.in
jpegoptim/*.log
jpegoptim/*.status
jpegoptim/aux
jpegoptim/build
jpegoptim/config.cache
jpegoptim/configure
jpegoptim/COPYING
jpegoptim/COPYRIGHT
jpegoptim/DerivedData
jpegoptim/README
jpegoptim/redhat/jpegoptim.spec
jpegtran/build
jpegtran/DerivedData
jpegtran/jpegtran
libjpeg/*.1
libjpeg/*.asm
libjpeg/*.bcc
libjpeg/*.c
libjpeg/*.cfg
libjpeg/*.dj
libjpeg/*.jpg
libjpeg/*.log
libjpeg/*.mac
libjpeg/*.manx
libjpeg/*.map
libjpeg/*.mc6
libjpeg/*.opt
libjpeg/*.sas
libjpeg/*.st
libjpeg/*.sub
libjpeg/*.txt
libjpeg/*.vc
libjpeg/*.vc6
libjpeg/*.vc9
libjpeg/*.vms
libjpeg/*.wat
libjpeg/aclocal.m4
libjpeg/build
libjpeg/cderror.h
libjpeg/cdjpeg.h
libjpeg/config.guess
libjpeg/configure*
libjpeg/depcomp
libjpeg/DerivedData
libjpeg/install-sh
libjpeg/jdct.h
libjpeg/jerror.h
libjpeg/jinclude.h
libjpeg/jmemsys.h
libjpeg/jmorecfg.h
libjpeg/jpegint.h
libjpeg/jpeglib.h
libjpeg/jversion.h
libjpeg/ltmain.sh
libjpeg/Makefile.*
libjpeg/makefile.*
libjpeg/missing
libjpeg/README
libjpeg/testimg.*
libjpeg/transupp.h
libpng/*-optipng.diff
libpng/*.3
libpng/*.c
libpng/*.in
libpng/*.jpg
libpng/*.m4
libpng/*.png
libpng/*.sub
libpng/*.txt
libpng/ANNOUNCE
libpng/autogen.sh
libpng/build
libpng/CHANGES
libpng/CMakeLists.txt
libpng/config.guess
libpng/configure*
libpng/contrib
libpng/depcomp
libpng/DerivedData
libpng/INSTALL
libpng/install-sh
libpng/KNOWNBUG
libpng/LICENSE
libpng/ltmain.sh
libpng/Makefile.am
libpng/missing
libpng/mkinstalldirs
libpng/png.5
libpng/png.h
libpng/pngconf.h
libpng/pngpriv.h
libpng/pngusr.h
libpng/projects
libpng/README
libpng/scripts
libpng/test-pngtest.sh
libpng/TODO
optipng/build
optipng/DerivedData
optipng/lib
optipng/patched
optipng/src
pngcrush/*.1
pngcrush/*.c
pngcrush/*.h
pngcrush/*.html
pngcrush/build
pngcrush/DerivedData
zlib/*.3
zlib/*.c
zlib/*.com
zlib/*.h
zlib/*.in
zlib/*.txt
zlib/amiga
zlib/as400
zlib/ChangeLog
zlib/configure
zlib/contrib
zlib/examples
zlib/FAQ
zlib/INDEX
zlib/msdos
zlib/old
zlib/projects
zlib/qnx
zlib/README
zlib/win32
zopfli-png/zopfli/
