<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdvPng.Bundle</key>
	<true/>
	<key>AdvPng.Enabled</key>
	<true/>
	<key>AdvPng.Level</key>
	<real>4</real>
	<key>AdvPng.Path</key>
	<string>/usr/bin/advpng</string>
	<key>JpegOptim.Bundle</key>
	<true/>
	<key>JpegOptim.Enabled</key>
	<true/>
	<key>JpegOptim.MaxQuality</key>
	<real>99</real>
	<key>JpegOptim.Path</key>
	<string>/usr/bin/jpegoptim</string>
	<key>JpegOptim.StripComments</key>
	<true/>
	<key>JpegOptim.StripExif</key>
	<true/>
	<key>OptiPng.Bundle</key>
	<true/>
	<key>OptiPng.Enabled</key>
	<true/>
	<key>OptiPng.Level</key>
	<real>6</real>
	<key>OptiPng.Path</key>
	<string>/usr/bin/optipng</string>
	<key>PngCrush.Bundle</key>
	<true/>
	<key>PngCrush.Chunks</key>
	<array>
		<dict>
			<key>name</key>
			<string>gAMA</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cHRM</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iCCP</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sRGB</string>
		</dict>
	</array>
	<key>PngCrush.Enabled</key>
	<true/>
	<key>PngCrush.Path</key>
	<string>/usr/bin/pngcrush</string>
	<key>PngOut.Enabled</key>
	<false/>
	<key>PngOut.LargeFast</key>
	<true/>
	<key>PngOut.Level</key>
	<real>3</real>
	<key>PngOut.Path</key>
	<string>/usr/bin/optipng</string>
	<key>PngOut.RemoveChunks</key>
	<true/>
	<key>PreservePermissions</key>
	<true/>
	<key>RunConcurrentDirscans</key>
	<integer>1</integer>
	<key>RunConcurrentTasks</key>
	<real>2</real>
</dict>
</plist>
