<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LossyEnabled</key>
	<false/>
	<key>JpegOptimMaxQuality</key>
	<integer>80</integer>
	<key>PngMinQuality</key>
	<integer>80</integer>
	<key>AdvPngEnabled</key>
	<true/>
	<key>AdvPngLevel</key>
	<real>4</real>
	<key>JpegOptimEnabled</key>
	<true/>
	<key>JpegTranStripAll</key>
	<true/>
	<key>JpegTranEnabled</key>
	<true/>
	<key>OptiPngEnabled</key>
	<true/>
	<key>PngCrush2Enabled</key>
	<false/>
	<key>PngOutEnabled</key>
	<true/>
	<key>PngOutRemoveChunks</key>
	<true/>
	<key>SvgcleanerEnabled</key>
	<true/>
	<key>ZopfliEnabled</key>
	<true/>
	<key>GifsicleEnabled</key>
	<true/>
	<key>GifQuality</key>
	<integer>80</integer>
	<key>PreservePermissions</key>
	<true/>
	<key>PreserveDates</key>
	<false/>
	<key>RunConcurrentDirscans</key>
	<integer>2</integer>
	<key>RunConcurrentFiles</key>
	<integer>4</integer>
	<key>RunLowPriority</key>
	<true/>
	<key>BounceDock</key>
	<true/>
</dict>
</plist>
